html,body{margin:0;padding:0;font-family:system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,'Helvetica Neue',Arial,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol'}
main{max-width:960px;margin:0 auto}
/* Make sure FullCalendar can receive mouse/touch events */
.fc, .fc * {
  pointer-events: auto !important;
}
